.blogs .box-container{
  @include grid(32rem);
  .box{
    border-radius: 1rem;
    background: $bg-color;
    overflow: hidden;

    &:hover{
      .image img{
        transform: scale(1.1);
      }
    }
    .image{
      height: 25rem;
      overflow: hidden;
      width: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content{
      padding: 2rem;
      .link{
        font-size: 2rem;
        color: $white;
        &:hover{
          color: $blue;
        }
      }
      p{
        padding: 1rem 0;
        font-size: 1.4rem;
        color: $light-color;
        line-height: 1.5;
      }
      .icon{
        padding-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
          font-size: 1.4rem;
          color: $light-color;
          &:hover{
            color: $blue;
          }
          i{
            padding-right: .5rem;
            color: $blue;
          }
        }
      }
    }
  }
}

.review{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  .content{
    flex: 1 1 42rem;
    span{
      font-size: 2rem;
      color:$blue;
    }

    h3{
        font-size: 3rem;
        color:$white;
    }

    p{
        font-size: 1.4rem;;
        color:$light-color;
        padding:1rem 0;
        line-height: 2;
    }
  }
  .box-container{
    flex: 1 1 42rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    .box{
      flex: 1 1 20rem;
      border-radius: 1rem;
      padding: 2rem;
      background: $bg-color;
      border: .2rem solid $black;
      &:hover{
        border: $border;
      }
      p{
        font-size: 1.4rem;
        padding-bottom: 1rem;
        line-height: 1.5;
        color: $light-color;
      }

      .user{
        display: flex;
        align-items: center;
        gap: 1rem;
        img{
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
        }
        h3{
          font-size: 1.7rem;
          color:$white;
        }

        span{
            color:$light-color;
            font-size: 1.5rem;
        }
      }
    }
  }
}