.banner{
  background: linear-gradient($black-bg, $black-bg), url('../assets/banner-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 2rem;
  background-attachment: fixed;
  text-align: center;
  .content{
    span{
      font-size: 2rem;
      color: $blue;

    }
    h3{
      font-size: 4rem;
      color: $white;
      margin-top: 1rem;
    }
    p{
      padding: 1rem 0;
      font-size: 1.4rem;
      color: $light-color;
      line-height: 1.5;
    }
  }
}


.footer{
  .box-container{
    @include grid(25rem);
    .box{
      padding: 1rem 0;
      .logo{
        padding-bottom: 1rem;
      }
      h3{
        font-size: 2.2rem;
        color: $white;
        padding: 1rem 0;
      }
      p{
        font-size: 1.4rem;
        color: $light-color;
        padding: 1rem 0;
        line-height: 2;
        i{
          padding-right: .5rem;
          color:$blue;
        }
      }
      .share{
        padding-top: 1rem;
        a{
          height: 4.5rem;
          width: 4.5rem;
          line-height: 4rem;
          border-radius: 50%;
          font-size: 1.7rem;
          border:$border;
          color: $blue;
          margin-right: .5rem;
          text-align: center;
          &:hover{
            background: $blue;
            color: $black;
          }
        }
      }

      .links{
        font-size: 1.4rem;
        color: $light-color;
        padding: 1rem 0;
        display: block;
        &:hover{
          color: $blue;
          i{
            padding-right: 1rem;
          }
        }
        i{
          padding-right: .5rem;
          color: $blue;
        }
      }

      form .email{
        width: 100%;
        border-radius: 5rem;
        border: $border;
        background: none;
        font-size: 1.5rem;
        text-transform: none;
        color: $light-color;
        margin-bottom: 1rem;
        padding: 1.2rem 1.4rem;
      }
    }
  }
}
.credit{
  background: $black-bg;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  color: $light-color;
  span{
    color: $blue;
  }
}