.services .box-container{
  @include grid(32rem);
  .box{
    background: $bg-color;
    border-radius: 1rem;
    padding: 3rem;
    text-align: center;
    border: .2rem solid $black;
    &:hover{
      border: $border;
    }
    i{
      font-size: 4rem;
      color: $blue;
      margin-bottom: 1rem;
    }
    h3{
      font-size: 2rem;
      color: $white;

    }
    p{
      padding: 1rem 0;
      font-size: 1.4rem;
      color: $light-color;
      line-height: 1.5;
    }
  }
}