$blue: #29d9d5;
$black: #111;
$white: #fff;
$light-color: #aaa;
$bg-color: #222;
$black-bg: rgba(17,17,17,.7);
$border:.2rem solid $blue;


//
@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}
